.box{
	height: 100px;
	width: 100px;
	background: red;
	margin: 5px;
	display: inline-block;
	text-align: center;
/*	position: relative;
	top: 10px;
*/

}
#id2{
	background: green;
/*	position: relative;
	top: 10px;
	left: 10px;*/
}
.parent{
	border: dotted 1px;
	display: inline-block;

}

.box:not(#id2){
	position: relative;
	top: 100px;
}