:root{
	--deeppurple: #a626b5;
	--skyblue: #247996;
	--clockworkorange: #D67F33;
	--grassgreen: #87AD37;
	--mariored: #AD151E;
}

*{
	margin: 0px;
}

.logo{
	
	margin-right: 10px;
	height: 50px;
	width: 50px;
	opacity: 0.4;
}


.header{
	height: 100vh;
	width: 100%;
	background-image: url('../image/headerbg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.headerbr{
	height: 100vh;
	width: 100%;
	background-image: url('../image/headerbr.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	text-align: center;
	font-family: 'Bowlby One SC', cursive;
	color: var(--mariored);
	line-height: 100vh;
	font-size: 5em;
	text-shadow: 3px 3px white;

}

.start{
	width: 100px;
	height: 100px;
	margin-left: 0px;
	position: absolute;
	bottom: 0;
	left: 47%;
	
}
.animate {
    animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
@keyframes moveDown{
    0% { 
        transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        transform: translateY(0px);  
        opacity: 1;
    }
}



.lang{
	position: absolute;
	top: 0;
	right: 0;
}
.universe{
	max-height:300px;
	max-width: 400px;
	border: 5px solid white;
	box-shadow: 2px 2px 2px 2px black;
	margin-top: 100px;
	
}

.aboutSection{
	text-align: justify;
	max-width: 400px;
	max-height: 600px;
	overflow: hidden;
	margin-top: 100px;
	

}

.aboutbg{
	width: 100%;
	height: 80vh;
	background-image: url('../image/bricks.jpg');
	background-attachment: fixed;
	color: var(--deeppurple);
	text-shadow: 2px 2px white;
	margin-top: 100px;


}

h2{
	text-align: center;
	font-size: 5em;
	line-height:80vh;
	font-family: 'Bowlby One SC', cursive;
}

#home{
	width: ;
	background-image: url('../image/smoke.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	background-attachment: fixed;
}

.homeSection p{
	margin-top: 100px;
	box-sizing: border-box;
	padding: 30px;
	max-height: 500px;
	max-width: 400px;
	overflow: hidden;
	border: solid 2px black;

}

.productsbg{
	margin-top: 200px;
	width: 100%;
	height: 80vh;
	background-image: url('../image/products.jpg');
	background-attachment: fixed;
	color: var(--clockworkorange);
	text-shadow: 2px 2px white;

}



.productImage{
	height: 150px;
	width: 150px;
}

.contactbg{
	margin-top: 200px;
	width: 100%;
	height: 80vh;
	background-image: url('../image/contact.jpg');
	background-attachment: fixed;
	color: var(--grassgreen);
	text-shadow: 2px 2px white;
	background-position: center;

}

.formBox{
	margin: 10px;
}

.checked{
	border: solid 3px green;
}

